/*
    reset style
*/
html, body{
  height: 100%;
}
body{
	font-size: 16px; margin: 0; font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
}
p{margin-top: 0; margin-bottom: 0}
img{
	border: 0; vertical-align: top;
}
input{
  padding-top: 0; padding-bottom: 0; border: 0;
}
input:focus{
  outline: 0;
}
ul{
  padding-left: 0; margin: 0;
}

li{
  list-style: none;
}
h4{
  margin-top: 0;
  margin-bottom: 0;
}
a{
  text-decoration: none;
  color: #000;
}
button{
  outline: none;
  border: none;
}
.clearfix:after{content:".";display:block;height:0; line-height:0; font-size:0;clear:both;visibility:hidden}
.clearfix{*zoom:1;}

.page-bg{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #f3f4f6;
  z-index: -1;
}
#root{
  max-width: 750px;
  margin: 0 auto;
}
/**********        public footer               ******/
.footer{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  padding: 6px 0;
  border-top: 1px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  font-size: 12px;
  max-width: 750px;
  margin: 0 auto;
}
.footer-link{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.footer-link-icon{
  width: 28px;
  margin-bottom: 4px;
}
.footer-link-text{
  color: #484848;
}

/**********        public photo-card component             ******/
.photo_card{display: block; margin-bottom: 17px; border-radius: 4px; box-shadow: 0, 0, 8px rgba(0,0,0,.5); background-color: #fff}
.photo_card_hd{display: flex; justify-content: flex-start; padding: 8px; align-items: center; font-size: 15px;}
.photo_card_hd .author_avatar{width: 52px; height: 52px; -webkit-border-radius: 50%; border-radius: 50%;}
.photo_card_hd .author_name{margin-left: 21px;}

.photo_card_bd .prim_img{width: 100%}
.photo_card_ft{padding: 14px 16px 10px 18px;display: flex; justify-content: space-between; height: 26px; line-height: 26px; font-size: 12px;}
.photo_card_ft .saw_num{padding-left: 26px; background:  left center no-repeat; background-size:18px}

/**********        public photo page               ******/
.photo{
  padding: 17px 17px 0;
}

/**********        public word page               ******/
.word-bg{position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: center top no-repeat; background-size: cover; background-attachment: fixed; z-index: -1; opacity: .2}
.word{position: relative; z-index: 2;}
.word-title{
  padding: 20px 0;
  border-bottom: 1px solid #f1f1f1;
  line-height:1;
  font-size:12px;
  color:#b7b7b7;
  text-align:center;

}
.menu{display: flex; justify-content: space-between; flex-flow: row wrap; padding: 0 15px;}
.menu-item{width: 46%; padding-top: 46%; color: #ff2e57; background-color: #f2f2f2; margin: 17px 0; border-radius: 8px; background-repeat: no-repeat; background-position: center center; background-size: 100%;}

/**********        public mine page               ******/

.mine_bg{background: 50% 50% no-repeat; background-size: cover; z-index: -1}
.mine-hd{
  padding: 40px 0 5px;
  position:relative;
  line-height:1;
  font-size:15px;
  color:#000;
  text-align:center;

}
.mine_hd_bg absolute full{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;

}
.mine-hd div{margin-top: 12px;}
.mine-hd .avatar{
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.mine-bd{margin-top: 15px;}
.mine-list{padding: 0 20px; display: flex; justify-content: space-between; flex-wrap: wrap;}
.mine-item{
  position: relative;
  width: 48.5%;
  height: 100px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #fe6a6a;
  margin-top: 9px;
  opacity: .9;
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
}
.item_active{opacity: .5}
.ani_active{background: eef10c; color: #000;}
.list_text{position: absolute; bottom: 10px; left: 10px}
.item_icon{position: absolute; width: 40px; top: 10px; left: 10px;}
.login_btn{
  position: relative;
  background: none;
}
.login_btn:after{
  width: 0;
  height: 0;
}
.contact_btn{position: absolute; top: 0; left: 0;bottom: 0; right: 0; opacity: 0;}